In [2]:


import pandas as pd

df = pd.read_csv("/content/Hashtag_sum_2_10.csv")

df['date'] = pd.to_datetime(df['date'])

# Filter out rows where the year is between 2009 and 2012 (inclusive)
df_filtered = df[(df['date'].dt.year < 2009) | (df['date'].dt.year > 2012)]

df = df_filtered

print(df_filtered)

           date  #covid19  #crypto  #bitcoin  #ukraine  #travel  \
647  2013-01-01         0        0         0         0        3
648  2013-01-02         0        0         0         0        0
649  2013-01-03         0        0         0         0        2
650  2013-01-04         0        0         1         0        1
651  2013-01-05         0        0         0         0        3
...         ...       ...      ...       ...       ...      ...
4381 2023-04-16        36       47        57        56       71
4382 2023-04-17        48       51        49        72       54
4383 2023-04-18        33       42        31        30       87
4384 2023-04-19        18       15        23        14        4
4385 2023-04-20         1        0         1         3        0

      #mondaymotivation  #christmas  #iran  #realestate
647                   0           0      1            0
648                   0           0      1            0
649                   0           0      1            1
650                   0           2      0            0
651                   0           0      0            2
...                 ...         ...    ...          ...
4381                  1           3     23           14
4382                 49           1     28           16
4383                  0           1     11           15
4384                  0           0      6            1
4385                  0           0      0            0

[3739 rows x 10 columns]

/tmp/ipython-input-2-2344062715.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date'] = pd.to_datetime(df['date'])

In [3]:
df_filtered.to_csv("Hashtag_sum_2_10_2013.csv", index=False)